.checkoutProducts {
  display: flex;
  padding: 20px;
}
.checkoutProducts__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutProducts__info {
  padding-left: 20px;
}
.checkoutProducts__title {
  font-size: 17px;
  font-weight: 800;
}
.checkoutProducts__rating {
  display: flex;
  padding: 5px 0;
}
.checkoutProducts__info button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9e7e31 #846a29;
  color: #111;
  margin: 20px 0;
}
